
/* Style for the QTrobot container */

#qtrobot-container {
  position: fixed; /* Ajouté pour que les enfants absolus se positionnent par rapport à ce conteneur */
  display: flex;
  justify-content: flex-start; /* Aligné à gauche */
  align-items: center;     /* Centré verticalement */
  height: 115vh;
  margin: 20px;
}

/* Tête du robot */
#qt-head {
  /*position: absolute;*/
  width: auto;
  height: 900px;
  display: block;
  z-index: 10;
}

/* Visage du robot */
#qt-face {
  position: fixed;
  bottom: 350px;
  left: 0;
  transform: translate(60%, -50%);
  width: 270px;
  height: auto;
  z-index: 5;
}

/* Style for interaction controls */
#controls {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

select, button, input {
  padding: 10px;
  font-size: 16px;
}

body {
  background: linear-gradient(to top, #87CEEB, #FFD700);
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  position: relative;
}

/* Titre */
h1 {
  font-family: 'Comic Sans MS', cursive, sans-serif;
  font-size: 3em;
  text-align: center;
  color: #FF4500;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
  margin-top: 20px;
}

#story-box {
  position: absolute;
  right: -500px;
  top: 25%;
  transform: translateY(-50%);
  background: white;
  padding: 20px;
  width: 300px;
  border-radius: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#story-container {
  min-height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#buttons {
  display: flex;
  justify-content: space-around;
}

